body {
  background-color: #F68537;
  color: white;
  font-family: Helvetica;
}
.btn{
    background-color: #ffffff; /* Green */
    color: rgb(0, 0, 0);
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.btn:hover{
    background-color: #000000; 
    color: white;
}
.food {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  background-color: #ECEDB0;
}
.food:hover {
  transform: scale(1.05);
}

.food-img {
  height: 200px;
  object-fit: cover;
}
div{
    font-family: 'Helvetica';
}
header{
    text-align: center;
    font-size: 35px;
    padding: 20px;
    font-weight: bold;
}