body {
  background-color: #F68537;
  color: white;
  font-family: Helvetica;
}

.food {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  background-color: #ECEDB0;
}
.food:hover {
  transform: scale(1.05);
}

.food-img {
  height: 200px;
  object-fit: cover;
}
div{
    font-family: 'Helvetica';
}